body {
    display: flex;
    justify-content: center;
    margin: 100px;
    font-family: sans-serif;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.6)50%, rgba(0, 0, 0, 0.6)50%), url('../img/11.jpg');
}

.box {
    box-shadow: 0 0 30px rgb(0, 0, 0);
    color: #fff;
    position: fixed;
    box-sizing: border-box;
    border-radius: 6%;
    padding: 10px 30px;
}

.box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.box input {
    width: 100%;
    margin-bottom: 20px;
}

.box input[type="email"],
input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #d6491e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
}

.box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffffff;
    color: #000;
}